---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="404">
  <section class="page-container section-space">
    <div class="flex flex-col gap-8">
      <h1 class="text-4xl font-semibold md:text-6xl">404</h1>
      <p class="text-lg text-muted">Prepacte, nemozeme najst stranku, ktoru hladate.</p>
    </div>
  </section>
</BaseLayout>
